@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f7c1bb;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3em;
}

.calculator-container {
    border-radius: .5em;
    width: 400px;
    background-color: #353A47;
    color: black;
    display: flex;
    flex-direction: column;
    padding: .5em;
}

.painel-container {
    text-align: right;
    background-color: white;
    border-radius: .5em;
    margin: .7em 0;
}

.previous-visor {
    padding: .2em;
    overflow-wrap: break-word;
    min-height: 1.6em;
    color: #606164;
}

.current-visor {
    min-height: 1.6em;
    font-size: 1.8em;
    font-weight: bold;
    padding: .2em;
    overflow-wrap: break-word;
}

.buttons-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: .3em;
}

.buttons-container button {
    border: none;
    border-radius: .5em;
    height: 4em;
    font-size: 1.2em;
    background-color: #eccbc8;
    cursor: pointer;
}

.buttons-container .span-two {
    grid-column: span 2;
}

.buttons-container .operator {
    background-color: #885a5a;
    color: white;
}

.buttons-container > button:hover {
    background-color: black;
    color: white;
    border: 0.1px solid white;
}